---
import Layout from '../layouts/Layout.astro'
---

<Layout title='About The project'>
	<h1>About the project</h1>

	<p>the spacex launches project us a demo for tyhe astro course</p>
</Layout>
